*{
    margin: 0;
    padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  /* background: #1FA2FF;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */ */
}

#login{
  display: none;
}

#main section{
    width: 100%;
    /* height: 100vh; */
    display: none;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #4db86a; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    text-decoration-line: none;
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
  }

  #navBtn{
    position: absolute;
    top:0;
    left: 0;
    opacity: 0.2;
  }

  button:active{
      opacity: 1;
  }

  #Profile #user_info{
    text-align: center;
    padding-top: 30vh;
  }

  #course-list{
    background: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
  }
  
  .fa-plus{
    float: right;
  }
  
  li{
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #666;
  }
  
  li:nth-child(2n){
    background: #f7f7f7;
  }
  
  span.trash{
    /* background: #e74c3c; */
    height: 40px;
    width: 0;
    margin-right: 20px;
    text-align: center;
    color: red;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
  }
  
  li:hover span.trash{
    width: 40px;
    opacity: 1.0;
  }
  
  #addCourse{
    font-size: 18px;
    background: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #2980b9;
    border: 3px solid rgba(0, 0, 0, 0);
  }
  
  #addCourse:focus{
    background: white;
    border: 3px solid #2980b9;
    outline: none;
  }
  
  #container{
    max-width: 60%;
    background: #f7f7f7;
    margin: 100px auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  }
  
  .completed{
    color: gray;
    text-decoration: line-through;
  }
  
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    #container{
      max-width: 100%;
      height: 100vh;
    }
  }

  @media screen and (min-height: 720px){
    #mySidenav{
        width: 250px;
    }

    #main{
        margin-left: 250px;
    }

    .sidenav .closebtn{
        display: none;
    }
  }